.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.idea/
*.iws
*.iml
*.ipr
out/

.vscode/
*.code-workspace

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/

*.log